body{

font-family:Arial;
background:#f4f6f8;
text-align:center;

}


header{

background:#2563eb;
color:white;
padding:20px;

}


nav a{

color:white;
margin:15px;
text-decoration:none;

}


.products{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}


.card{

background:white;
padding:20px;
width:250px;
border-radius:15px;
box-shadow:0 0 10px gray;

}


.card img{

width:200px;

}


button{

background:#2563eb;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;

}


a{

display:block;
margin:10px;

}


.details{

background:white;
padding:30px;
margin:50px auto;
width:400px;

}


.form{

background:white;
padding:30px;
width:300px;
margin:auto;

}


input{

width:90%;
padding:10px;
margin:10px;

}
